{% extends "layout.html" %}

{% block content%} 
<ul class="crud-menu">
    <li><a href="{% url 'create_passenger' %}"><b>Add New Passenger</b></a></li>
</ul>
<h2>Create Passenger</h2>
<form method="post" action="{% url 'create_passenger' %}">
    <label for="name">Name:</label><br>
    <input type="text" id="name" name="name"><br>
    <label for="email">Email:</label><br>
    <input type="email" id="email" name="email"><br>
    <label for="phone">Phone:</label><br>
    <input type="text" id="phone" name="phone"><br>
    <label for="address">Address:</label><br>
    <input type="text" id="address" name="address"><br><br>
    <button type="submit">Submit</button>
</form>
{%endblock content%}
