{% extends "layout.html" %}

{% block content%} 
<ul class="crud-menu">
    <li><a href="{% url 'create_passenger' %}"><b>Add New Flight</b></a></li>
</ul>
<h2>Update Flight</h2>
<form method="post" action="{% url 'update_flight_submit' flight.flightID %}">
    <label for="flightNumber">Flight Number:</label><br>
    <input type="text" id="flightNumber" name="flightNumber" value="{{ flight.flightNumber }}"><br>
    <label for="departureAirport">Departure Airport:</label><br>
    <input type="text" id="departureAirport" name="departureAirport" value="{{ flight.departureAirport }}"><br>
    <label for="arrivalAirport">Arrival Airport:</label><br>
    <input type="text" id="arrivalAirport" name="arrivalAirport" value="{{ flight.arrivalAirport }}"><br>
    <label for="departureTime">Departure Time YYYY-MM-DD HH:MM:</label><br>
    <input type="text" id="departureTime" name="departureTime" pattern="\d{4}-\d{2}-\d{2} \d{2}:\d{2}" title="Please enter a valid date and time in YYYY-MM-DD HH:MM format" value="{{ flight.departureTime }}"><br><br>
    <label for="arrivalTime">Arrival Time YYYY-MM-DD HH:MM:</label><br>
    <input type="text" id="arrivalTime" name="arrivalTime" pattern="\d{4}-\d{2}-\d{2} \d{2}:\d{2}" title="Please enter a valid date and time in YYYY-MM-DD HH:MM format" value="{{ flight.arrivalTime }}"><br><br>
    <label for="capacity">Capacity:</label><br>
    <input type="number" id="capacity" name="capacity" min="1" value="{{ flight.capacity }}"><br><br>
    <label for="price">Price:</label><br>
    <input type="number" id="price" name="price" step="0.01" min="0" value="{{ flight.price }}"><br><br>
    <button type="submit">Submit</button>
</form>
{%endblock content%}